.icon {

  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */ 
  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-beaker:before { content: '\261D'; } /* 'ↆ' */
.icon-file-pdf:before { content: '\24b6'; } /* 'Ⓐ' */
.icon-file-image:before { content: '\24bb'; } /* 'Ⓕ' */
.icon-file-word:before { content: '\24cc'; } /* 'Ⓦ' */
.icon-mail:before { content: '\24d4'; } /* 'ⓔ' */
.icon-facebook:before { content: '\24d5'; } /* 'ⓕ' */
.icon-twitter:before { content: '\24e3'; } /* 'ⓣ' */
.icon-android:before { content: '\259a'; } /* '▚' */
.icon-appstore:before { content: '\259e'; } /* '▞' */
.icon-thumbs-up:before { content: '\2615'; } /* '☕' */
.icon-paper-plane:before { content: '\266b'; } /* '♫' */
.icon-ok:before { content: '\2714'; } /* '✔' */
.icon-heart:before { content: '\2764'; } /* '❤' */

.medium-icon {
    font-size: 32px !important;
}

.icon-white {
    color: #fff !important;
}

// Helpers

.margin-right {margin-right: 2em;}
.margin-left {margin-left: 2em;}
.margin-top {margin-top: 2em;}
.margin-bottom {margin-bottom: 2em;}

// Design
body {
    background: #ffffff;
    font-weight: 400;
    position: relative;
}
h1, h2, h3, h5, h6, p, input, select, li, q, quote{
    font-family: Thonburi,Roboto,Frutiger,"Frutiger Linotype",Univers,Calibri,"Myriad Pro",Myriad,"DejaVu Sans Condensed","Liberation Sans","Nimbus Sans L",sans-serif;
}
h2, h3, h5, h6 {
    font-weight: 300;
    letter-spacing: 6px;
}
h1 {
    font-weight: 100;
}
h2{
    font-size: 1.1em;
    letter-spacing: 1px;
}
h4 {
    font-weight: 700;
    letter-spacing: 6px;
}
h1.heading {
    font-size: 24px;
}
.subheading {
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 60px;
}
.bold {
    font-weight: 700;
}
p {
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 28px;
}
a {
    outline: none !important;
}
hr {
    width: 100px;
}
strong {
    font-weight: 700;
    font-size: 50px;
}
.section-title {
    padding-top: 48px;
    padding-bottom: 0px;
}
#feature, #team, #pricing, #contact {
    padding-top: 100px;
    padding-bottom: 100px;
}
#feature, #team, #pricing {
    text-align: center;
}
#team {
    background: #aac1bf;
    color: #ffffff;
}
footer {
    background: #2b2b2b;
    color: #ffffff;
}

a.inline {
    display: inline !important;
    color: inherit !important;
}

/* ==========================================================================
preloader section
========================================================================== */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #fff;
}
.sk-spinner-circle.sk-spinner {
    width: 24px;
    height: 24px;
    position: relative;
}
.sk-spinner-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.sk-spinner-circle .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 20%;
    height: 20%;
    background-color: #009988;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in;
    animation: sk-circleBounceDelay 1.2s infinite ease-in;  /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.sk-spinner-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}
.sk-spinner-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}
.sk-spinner-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.sk-spinner-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}
.sk-spinner-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}
.sk-spinner-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.sk-spinner-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
}
.sk-spinner-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
}
.sk-spinner-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
.sk-spinner-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
}
.sk-spinner-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
}
.sk-spinner-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}
.sk-spinner-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}
.sk-spinner-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}
.sk-spinner-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}
.sk-spinner-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}
.sk-spinner-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}
.sk-spinner-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}
.sk-spinner-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}
.sk-spinner-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}
.sk-spinner-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}
.sk-spinner-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}
@-webkit-keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/* ==========================================================================
navigation section
========================================================================== */
.sticky-navigation {
    opacity: 0;
}
.navbar-default {
    background: #fff;
    border: none;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
    margin: 0 !important;
    padding: 0;
}
.navbar-default .navbar-brand {
    color: #006b9e;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    padding: 12px 0px 0px 12px;
}
.navbar-default .navbar-brand img {
    width: 40px;
    height: 40px;
    margin-right: 6px;
    float: left;
}
.navbar-default .navbar-nav li a {
    color: #606060;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 11px;
    line-height: 40px;
    padding-right: 20px;
    padding-left: 20px;
}
.navbar-default .navbar-nav li a:hover {
    color: #006b9e;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #006b9e;
    background-color: transparent;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #006b9e;
    background-color: transparent;
}
.navbar-default .navbar-toggle {
    border: none;
    padding-top: 10px;
}
.navbar-default .navbar-toggle .icon-bar {
    background: #006b9e;
    border-color: transparent;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent
}

/* ==========================================================================
home section
========================================================================== */
#home {
    background: #aac1bf;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
    max-width:100%;
    overflow-x: hidden;
}
#home h1{
    font-size: 100px;
}
#home .btn {
    background: transparent;
    border: 4px solid #ffffff;
    border-radius: 0;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 12px 42px;
    margin-top: 40px;
    margin-right: 16px;
    transition: all 0.4s ease-in;
}
#home .btn:hover {
    background: #aac1bf;
    border-color: transparent;
}
#home .btn-danger {
    background: #aac1bf;
    border-color: transparent;
}
#home .logo,
#home .splash {
    display: block;
    margin:0 auto;
}
#home .splash {
    margin-bottom:100px;
}
#home .store {
    margin: 10px;
}

/* ==========================================================================
feature section
========================================================================== */
#feature .col-md-12 {
    padding-top: 30px;
    padding-bottom: 40px;
}
#feature img {
    margin: 0 auto;
}
#feature h3 {
    font-size: 16px;
}

/* ==========================================================================
team section
========================================================================== */
#team {
    padding-bottom: 0;
}
#team .col-md-4 {
    padding: 10px;
}
#team h3 {
    color: #009988;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
}
#team .team-wrapper .team-des {
    position: relative;
    cursor: pointer;
    padding-top: 60px;
    padding-bottom: 60px;
    bottom: 40px;
    transition: all 0.4s ease-in-out;
}
#team .team-wrapper:hover .team-des {
    background: #3b3b3b;
    bottom: 60px;
}
#team a {
    color: #009988;
    text-decoration: underline;
}

/* ==========================================================================
pricing section
========================================================================== */
#pricing .plan {
    background: #aac1bf;
    padding: 40px 0px 60px 0px;
    margin-bottom: 32px;
}
#pricing .plan .plan_title {
    background: #f9f9f9;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin: 0 auto;
}
#pricing h2 {
    border-bottom: 1px solid #bbc1bf;
}
#pricing .plan h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 180px;
}
#pricing .plan h2 {
    font-weight: 700;
    padding: 30px;
}
#pricing .plan p {
    margin:0 1em;
}
#pricing .plan ul {
    padding: 0px;
}
#pricing .plan ul li {
    display: block;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 30px 0px 10px 0px;
}
#pricing .plan .btn {
    background: #ffffff;
    border: none;
    border-radius: 0px;
    color: #2b2b2b;
    font-size: 16px;
    font-weight: 700;
    padding: 16px 60px;
    transition: all 0.4s ease-in;
    margin-top: 20px;
    text-transform: uppercase;
}
#pricing .plan .btn:hover {
    background: #eeeeee;
}

.navodila a {
    display: inline-block;
    padding: .5em 1em;
    border: 3px solid #BD0E01;
    background: #F44336;
    margin: 2em 0 0;
    color: #fff;
}

.navodila a:hover{
    background: #BD0E01;
    text-decoration: none;
}
#pricing.navodila img {
    max-width: 100%;
    height: auto;
}
#pricing.navodila h3 {
    line-height: 1em;
    display: block;
    padding: 80px 0 0;
}
#pricing.navodila .plan.p2 h3{
    padding: 65px 0 0;
}
/* ==========================================================================
contact section
========================================================================== */
#contact {
    background: #f9f9f9;
    padding-bottom: 0;
}
#contact a {
    color: #fff;
    display: block;
    padding: 1em;
}
#contact a .icon{
    vertical-align: middle;
    text-decoration: none !important;
}
#contact .contact-address {
    color: #ffffff;
    position: relative;
    top: 140px;
}
#contact .contact-address p {
    line-height: 16px;
}
#contact .contact-email, #contact .contact-phone, #contact .contact-website {
    padding: 100px;
}
#contact .contact-email {
    background: #009988;
}
#contact .contact-phone {
    background: #2b2b2b;
}
#contact .contact-website {
    background: #fff;
}
#contact .contact-website img {
}
#contact h3 {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    padding-bottom: 12px;
}
#contact .medium-icon {
    color: #ffffff;
    font-size: 28px !important;
}
#contact .contact-info div {
    padding-top: 14px;
    padding-bottom: 14px;
}
#contact .form-control {
    background: none;
    border-radius: 0;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 2px solid #aac1bf;
    box-shadow: none;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 0.4s ease-in;
}
#contact .form-control:focus {
    border-bottom-color: #202020;
}
#contact input {
    height: 60px;
}
#contact input[type="submit"] {
    border: 2px solid #009988;
    color: #2b2b2b;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 18px;
}
#contact input[type="submit"]:hover {
    background: #009988;
}

/* ==========================================================================
footer section
========================================================================== */
footer {
    text-align: center;
    padding-top: 260px;
    padding-bottom: 60px;
}
footer p {
    padding-top: 20px;
}
.social-icon {
    padding: 0;
    margin: 0;
}
.social-icon li {
    list-style: none;
    display: inline-block;
    padding: 10px;
}
.social-icon-icon, .social-icon li a {
    border: 1px solid #aac1bf;
    border-radius: 50%;
    color: #aac1bf;
    font-size: 18px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    transition: all 0.4s ease-in;
}
.social-icon li a:hover {
    background: #aac1bf;
    color: #2b2b2b;
}
.social-icon-icon {
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    color: #fff;
    vertical-align: middle;
}

/* ==========================================================================
signup section
========================================================================== */
#signup {
    background: #c1e6e8;
    padding: 100px 0;
    margin-top: 100px;
}
#signup .signup-address {
    color: #ffffff;
    position: relative;
    top: 140px;
}
#signup .signup-address p {
    line-height: 16px;
}
#signup .signup-email, #signup .signup-phone, #signup .signup-website {
    padding: 100px;
}
#signup .signup-email {
    background: #009988;
}
#signup .signup-phone {
    background: #2b2b2b;
}
#signup .signup-website {
    background: #aac1bf;
}
#signup h3 {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    padding-bottom: 12px;
}
#signup .medium-icon {
    color: #ffffff;
    font-size: 28px !important;
}
#signup .signup-info div {
    padding-top: 14px;
    padding-bottom: 14px;
}
#signup .form-control {
    background: none;
    border-radius: 0;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 2px solid #aac1bf;
    box-shadow: none;
    color: #009988;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 0.4s ease-in;
}
#signup .form-control:focus {
    border-bottom-color: #202020;
    color: #202020;
}
#signup input {
    height: 60px;
}
#signup input[type="submit"] {
    border: 2px solid #009988;
    color: #2b2b2b;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 18px;
}
#signup input[type="submit"]:hover {
    background: #009988;
}

/* ==========================================================================
help
========================================================================== */
#help h3 {
    margin: 2em 0 1em;
    border-bottom: 1px solid #aac1bf;
}
#help h4 {
    margin: 2em 0 1em;
    line-height: 1.5em;
    letter-spacing: .2em;
}

/* ==========================================================================
...
========================================================================== */
.store {
    width: auto;
    height: 45px;
    display: inline-block;
    margin: 10px;
}
.social-icon li {
    list-style: none;
    display: block;
    padding: 10px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.legal {
    font-weight: 100;
    font-size: .8em;
}
.legal p {
    padding: 0;
    color: #aac1bf;
}
.legal a {
    color: #fff;
}
.badges {
    position: absolute;
    top: 10px;
    right: auto;
    left: 10px;
    bottom: auto;
    width: 300px;
    text-align: right;
}
.badges img {
    opacity: .5;
    transition: all 0.4s ease-in-out;
}
.badges a {
}
.badges a:hover img {
    opacity: 1;
}
.video-js {
    max-width: 100%;
}

/* ==========================================================================
... branding
========================================================================== */
#press #pricing a {
    color: #fff;
}

#press #pricing i.fa {
    font-size: 2em;
    display: block;
    float: none;
    margin: 1em;
    color: #2b2b2b;
}

#press #pricing .plan.bg-blue {
    background: #039BE5;
}
#press #pricing .plan.bg-blue-2 {
    background: #2C94C8;
}
#press #pricing .plan.bg-blue-3 {
    background: #81B9D5;
}

#press #pricing .plan.bg-pink {
    background: #F2BCFB;
}
#press #pricing .plan.bg-pink-2 {
    background: #DE8FEC;
}
#press #pricing .plan.bg-pink-3 {
    background: #BB6CC9;
}

#press #pricing .plan.bg-amber {
    background: #FFA000;
}

#press #pricing .plan.bg-amber-2 {
    background: #DB8900;
}

#press #pricing .plan.bg-amber-3 {
    background: #BF7801;
}
#press #pricing .plan.bg-green {
    background: #8BC34A;
}

#press #pricing .plan.bg-green-2 {
    background: #77B035;
}

#press #pricing .plan.bg-green-3 {
    background: #679F27;
}

body#press .icon{
    display: block;
    margin: 0 auto;
}


/* ==========================================================================
media quires for mobile
========================================================================== */
@media (max-width:460px) {
    #home .splash {
        max-width: 200%;
        margin-bottom:0;
        margin-top: 60px;
    }
    #home {
        padding-top: 60px;
        padding-bottom: 60px;
        min-height: 0;
    }
    #home h1 {
        font-size: 3em;
    }
    #feature {
        padding: 0;
    }
    #contact .contact-address {
        text-align: left;
    }
    #contact .contact-email, #contact .contact-phone, #contact .contact-website {
        padding: 40px 0;
    }
    .navbar-default .navbar-brand {
        font-size: 32px;
    }
    .navbar-default .navbar-brand img {
        width: 36px;
        height: 36px;
    }
    #help h3 {
        letter-spacing: 0;
    }
}